.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input {
  width: 350px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.form__info {
  width: 350px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  line-height: 35px;
  font-size: 25px;
  background-color: white;
  border-radius: 4px;
}
